**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/__pycache__/
*.py[cod]
*$py.class
**.pyc
**/__pycache__
__pycache__/
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
.idea
requirements.txt
.env
.env.save
..env.swp
db.sqlite3
UniversityQuizApplication/migrations/
UniversityQuizApplication/__pycache__
UniversityQuizApplication/__pycache__/api_views.cpython-38.pyc
UniversityQuizApplication/__pycache__/models.cpython-38.pyc
UniversityQuizApplication/__pycache__/utils.cpython-38.pyc
UniversityQuizApplication/__init__.py
UniversityQuizSystem/__pycache__/settings.cpython-38.pyc
UniversityQuizSystem/__pycache__/urls.cpython-38.pyc
UniversityQuizSystem/__pycache__/settings.cpython-39.pyc
.requirements.txt.swp
UniversityQuizSystem/__pycache
.log
celerybeat-schedule
../..env.swp
../celerybeat.pid
..gitignore.swp
celerybeat.pid
media/
static/
media/*
media/*/*
celerybeat-schedule.db

